<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UILaunchStoryboardName</key>
					<string>LaunchScreen</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>testApp1</string>
        <string>testApp2</string>
        <string>testApp3</string>
        <string>testApp4</string>
        <string>testApp5</string>
        <string>testApp6</string>
        <string>testApp7</string>
        <string>testApp8</string>
        <string>testApp9</string>
        <string>testApp10</string>
        <string>testApp11</string>
        <string>testApp12</string>
        <string>testApp13</string>
        <string>testApp14</string>
        <string>testApp15</string>
        <string>testApp16</string>
        <string>testApp17</string>
        <string>testApp18</string>
        <string>testApp19</string>
        <string>testApp20</string>
        <string>testApp21</string>
        <string>testApp22</string>
        <string>testApp23</string>
        <string>testApp24</string>
        <string>testApp25</string>
        <string>testApp26</string>
        <string>testApp27</string>
        <string>testApp28</string>
        <string>testApp29</string>
        <string>testApp30</string>
        <string>testApp31</string>
        <string>testApp32</string>
        <string>testApp33</string>
        <string>testApp34</string>
        <string>testApp35</string>
        <string>testApp36</string>
        <string>testApp37</string>
        <string>testApp38</string>
        <string>testApp39</string>
        <string>testApp40</string>
        <string>testApp41</string>
        <string>testApp42</string>
        <string>testApp43</string>
        <string>testApp44</string>
        <string>testApp45</string>
        <string>testApp46</string>
        <string>testApp47</string>
        <string>testApp48</string>
        <string>testApp49</string>
        <string>testApp50</string>
        <string>testApp51</string>
        <string>testApp52</string>
        <string>testApp53</string>
        <string>testApp54</string>
        <string>testApp55</string>
        <string>testApp56</string>
        <string>testApp57</string>
        <string>testApp58</string>
        <string>testApp59</string>
        <string>testApp60</string>
        <string>testApp61</string>
        <string>testApp62</string>
        <string>testApp63</string>
        <string>testApp64</string>
        <string>testApp65</string>
        <string>testApp66</string>
        <string>testApp67</string>
        <string>testApp68</string>
        <string>testApp69</string>
        <string>testApp70</string>
        <string>testApp71</string>
        <string>testApp72</string>
        <string>testApp73</string>
        <string>testApp74</string>
        <string>testApp75</string>
        <string>testApp76</string>
        <string>testApp77</string>
        <string>testApp78</string>
        <string>testApp79</string>
        <string>testApp80</string>
        <string>testApp81</string>
        <string>testApp82</string>
        <string>testApp83</string>
        <string>testApp84</string>
        <string>testApp85</string>
        <string>testApp86</string>
        <string>testApp87</string>
        <string>testApp88</string>
        <string>testApp89</string>
        <string>testApp90</string>
        <string>testApp91</string>
        <string>testApp92</string>
        <string>testApp93</string>
        <string>testApp94</string>
        <string>testApp95</string>
        <string>testApp96</string>
        <string>testApp97</string>
        <string>testApp98</string>
        <string>testApp99</string>
    </array>
</dict>
</plist>
